body
{
    overflow-x: hidden;
    margin-bottom: 120px;
}

.title1
{
    padding-top: 30px;
    font-family: Inter;
    font-size: 30px;
    font-weight: bold;
    color: #002B4E;
}

.title2
{
    padding-top: 10px;
    font-family: Inter;
    font-size: 25px;
    font-weight: bold;
    color: #FD5819;
}

.paragraf
{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.10;
    font-family: Inter;
    font-size: 20px;
    color: #002b4E;
}

.picture
{
    padding-top: 30px;
}

.picture img
{
    width: 722px;
    height: 606px;
    border-radius: 183px;
}